<header class="header">
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="navbar-brand">
        <a class="navbar-item brand" href="{{{or site.url siteRootPath}}}">
          <span class="brand-logo" aria-hidden="true"></span>
          <span class="brand-title">{{site.title}}</span>
        </a>

        {{#with (or (from-json page.attributes.header_links)
                    (from-json @root.asciidoc.attributes.header_links))}}
        <div class="navbar-item header-links">
            {{#each this}}
            <a class="header-link"
               href="{{{or (and url (relativize url)) (relativize (resolvePageURL page))}}}"{{#if target}} target="{{target}}"{{/if}}{{#if rel}} rel="{{rel}}"{{/if}}{{#if ariaLabel}} aria-label="{{ariaLabel}}"{{/if}}>
              {{or text content}}
            </a>
            {{/each}}
        </div>
        {{/with}}
        {{#if (or env.SITE_SEARCH_PROVIDER site.keys.search.provider site.keys.search.enabled)}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
        {{/if}}
        <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div id="topbar-nav" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="/docs/contributing.html">Contributing</a>
        </div>
      </div>
    </div>
  </nav>
</header>
